body {
	margin:0;
	padding:0;
}

.header {
	height:200px;
	background:url('../img/bg1.jpg');
}

#logo {
	float:left;
	margin-left: 20px;
	margin-top: 25px;
}

.empty {
	background: grey;
	color: white;
	text-align: center;
	padding-bottom: 10px;
}

#empty_title {
		font-size: 30px;
}		

#logotext {
	float:right;
	margin-top:60px;
	margin-right:20px;
	font-size:25px;	
}

#logotext a {
	color: white;
}

.topmenu {
	display:flex;
	width:100%;
	margin:0 auto;
}

.topmenu a{
	flex:1;
	display:block;
	padding:10px;
	text-align:center;
	color: white;
	background: #33c1e3;
	text-decoration:none;
	font-size:17px;
	border-right:solid 1px white;
	text-shadow:1px 1px 1px black;
}

.topmenu a:hover{
	background:blue;
}

.container {
	margin-top: 20px;
}

.footer {
	background:#33c1e3;
	text-align:center;
	margin-top:20px;
	color: white;
}

@media screen and (max-width: 768px) {
	#logotext {
		font-size: 16px;
	}
}	